/bazel-*

**/*.xcodeproj/xcuserdata/*
**/*.xcodeproj/project.xcworkspace/xcuserdata/*
**/*.xcodeproj/rules_xcodeproj/bazel_build_targets
**/*.xcodeproj/rules_xcodeproj/gen_dir
**/*.xcodeproj/*

user.bazelrc
